:root {
  --black-square: #25282A;
  --black-piece: #3F5350;
  --white-square: #E2D7B9;
  --white-piece: #D2A662;
  --main-color: #2C3D40;
  --text-color: #B4AE87;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-color);
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 728px;
  height: 728px;
  border: 10px solid var(--text-color);
}

.cell {
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  transition: border 0.7 ease;
  border: 3px solid var(--text-color);
}

.highlight {
  border: 3px solid red;
}

.white {
  background-color: var(--white-square);
}

.black {
  background-color: var(--black-square);
}

.b {
  color: var(--black-piece)
}

.w {
  color: var(--white-piece)
}