* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black-square: #25282A;
  --black-piece: #3F5350;
  --white-square: #E2D7B9;
  --white-piece: #D2A662;
  --main-color: #2C3D40;
  --text-color: #B4AE87;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-color);
}

.side-panel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header {
  text-align: center;
  font-family: 'Parisienne';
  font-size: 3em;
  color: var(--white-square);
  margin: 20px;
}

.turn {
  width: 250px;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--black-square);
  color: var(--text-color);
  padding: 4px;
  border: 2px solid var(--text-color);
}

.button {
  width: 250px;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--black-square);
  color: var(--text-color);
  margin: 10px;
  padding: 4px;
  border: 2px solid var(--text-color);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 724px;
  height: 724px;
  border: 10px solid var(--text-color);
}

.cell {
  width: 88px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  border: 3px solid var(--text-color);
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 520px;
  width: 142px;
  margin: 50px;
  border: 10px solid var(--text-color);
}

.sub-box {
  height: 62px;
  width: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.highlight {
  border: 3px solid green;
  cursor: pointer;
}

.selected {
  border: 3px solid blue;
  cursor: pointer;
}

.checked {
  border: 3px solid red;
  cursor: pointer;
}

.non-interactive {
  pointer-events: none;
}

.white {
  background-color: var(--white-square);
}

.black {
  background-color: var(--black-square);
}

.w {
  color: var(--white-piece);
  cursor: pointer;
}

.b {
  color: var(--black-piece);
  cursor: pointer;
}

@media only screen and (min-width:800px) and (max-width:1285px) {

  body {
    flex-direction: column;
  }

  .side-panel {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: auto;
  }

  .header {
    font-size: 2em;
  }

  .turn {
    width: 200px;
    font-size: 1em;
  }

  .button {
    width: 200px;
    font-size: 1em;
    transition: none;
  }

  .button:hover {
    transform: none;
  }

  .game-container {
    height: 548px;
  }

  .board {
    width: 540px;
    height: 540px;
  }

  .cell {
    width: 65px;
    height: 65px;
    font-size: 50px;
  }

  .box {
    height: 448px;
    width: 120px;
    margin: 0 40px
  }

  .sub-box {
    height: 53px;
    width: 50px;
    font-size: 45px;
  }


}

@media only screen and (max-width:1023px) {

  body {
    flex-direction: column;
  }

  .header {
    font-size: 3.5em;
  }

  .side-panel {
    width: 100vw;
    height: auto;
    justify-content: space-evenly;
  }

  .turn {
    width: 350px;
    font-size: 2em;
    margin: 10px;
    padding: 6px 0;
    border: 2px solid var(--text-color);
  }

  .button {
    font-size: 2em;
    width: 350px;
    padding: 6px;
    cursor: pointer;
  }

  .button:hover {
    transform: none;
  }

  .game-container {
    height: 1150px;
    flex-direction: column;
  }

  .board {
    width: 868px;
    height: 868px;
  }

  .cell {
    width: 106px;
    height: 106px;
    font-size: 80px;
  }

  .box {
    height: 80px;
    width: 868px;
    margin: 35px 0 0 0;
    flex-direction: row;
  }

  .box:first-child {
    margin: 0 0 35px 0;
  }

  .sub-box {
    height: 53px;
    width: 50px;
    font-size: 45px;
  }
}